* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none
}

body {
  font-family: Verdana,sans-serif;
}

.container {
  background: url(antoine.jpg);
  height: 50%;
  width: 50%;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(2,80,198,0.4);
}

.login-warpper {
  width: 390px;
  /* height: 300px; */
  background-color: #fff;
  border-radius: 0.9rem;
  padding: 2rem;
  margin: 250px auto;
  z-index: 1;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.header {
  background: linear-gradient(90deg , #007bff ,#0052ea);
  padding: 1.5rem;
  margin: -3rem -1rem 2rem;
  text-align: center;
  color: #fff;
  border-radius: 0.9rem;
  box-shadow: 0 4px 20px 0  rgba(0,123,255,0.14) , 0 7px 10px -5px  rgba(0,82,234,0.4);
}

.header h2 {
  font-weight: 600;
  font-size: 1.7rem;

}

.header .social-buttons {
  list-style: none;
  width: 100%;
  margin: 1.5rem 0rem 0rem ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-buttons a {
  padding: 0.5rem 1.2rem ;
  font-weight: 500;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.4s;
  /* border: 1px solid rgba(255,255,255,0.8); */
  /* width: 100%; */
}

.header .social-buttons a:hover {
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 50px;
  box-shadow: 0 0 12px rgba(255,255,255,0.5);
}

form .input-group {
  display: flex;
  align-items: stretch;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
  margin: 1.5rem 0;
  padding: 1.2rem 0;
}

form .input-group .text {
  border: none;
  outline: none;
  width: 90%;
}

form .input-group span {
  color: #007bff;
  border: none;
  font-size: 1.3rem;
  margin-right: 14px;

}

.check-group {
  margin-bottom: 1.2rem;
}

.check-group label {
  margin-left: 5px;
  color: #777;
  font-size: 17px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.button-group button {
  background: #007bff;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  margin: 1.2rem 0;
  transition: all 0.5s ease;
  width: 110px;
  font-size: 16px;
}

.button-group a {
  color: #007bff;
  font-size: 16px;
}

.button-group button:hover {
  transform: translateY(-5px) ;
  box-shadow: 0 3px 20px #0052ea;
}

.botm {
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}


.botm p {
  color: #777;
  font-size: 15px;
  text-align: center;
  margin-top: 5%;
}

.botm a {
  color: #007bff;
}